@charset "utf-8";

body {
  background-image: url(/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  background-color: #000;
}

em {
  color: red;
  padding-left: 15px;
}

a {
  color: #FFF;
}
